.ms{
    background-color:black;
    color: white;
    border-radius: 25px;
    box-shadow: 10px 10px grey;
    height: 7rem;
    width: 19rem;
}
.tcus{
    background-color:white;
    color: black;
    border-radius: 25px;
    box-shadow: 10px 10px black;
    height: 7rem;
    width: 19rem;

}
.atcus{
    background-color:white;
    color: black;
    border-radius: 25px;
    box-shadow: 10px 10px grey;
    height: 7rem;
    width: 19rem;
}