<div class="container-fluid">
<div class="row">
 <div class="col-md-4 sm-6">
  <div class="card tcus" [routerLink]="['/totalcustomers']">
    <div class="card-body">
      <h3 class="card-title">TOTAL CUSTOMERS</h3>
      
      <p class="card-text">45,000</p>
      
    </div>
  </div>
 </div>
 <div class="col-lg-4 sm-6" >
  <div class="card ms" [routerLink]="['/personalpage']" >
    <div class="card-body">
      <h3 class="card-title">MONEY-SIGN DONE</h3>
      
      <p class="card-text">45,000</p>
      
    </div>
  </div>

 </div>
 <div class="col-lg-4 md-2">
  <div class="card atcus">
    <div class="card-body">
      <h3 class="card-title">ACTIVE CUSTOMERS</h3>
      
      <p class="card-text">45,000</p>
      
    </div>
  </div>

 </div>
</div>
</div>