<section class="details row">
  <div class="personal-details col-6">
    
    <div class="row">
        <div class="col-3">
    <img
      src="https://assets.vogue.in/photos/5dce6fefb285940008253c9c/master/w_1600%2Cc_limit/2014-5-Alia-Bhatt-makeup-Getty.jpg"
      alt=""
    />
</div>
<div class="col-9">
    <h1 >Alia Bhatt</h1>

    
      <button
        type="button"
        class="btn btn-outline-primary"
        style="display: block; margin-top: 20px"
        data-bs-toggle="modal"
        data-bs-target="#myModal"
        
      >
        Personal Profile
      </button>
    
</div>
  </div>
</div>
  <div class="col-6">
  <div class="login-details ">
    <h3><u>Login Details</u></h3>
    <p>Device Count :</p>
    <p>Last Login :</p>
  </div>
</div>
</section>

<section class="customer-stages">
  <h3><u>Customer Stages</u></h3>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          MoneySign
        </button>
      </h2>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="row">
            <div class=""></div>
            <div class="col-3 ms-image">
              <img
                src="https://img.freepik.com/premium-vector/turtle-illustration_538984-527.jpg?w=740"
                width="50px"
                height="auto"
                alt=""
              />
            </div>
            <div class="col-5 ms-body">
              <p>
                They adopt a systematic approach to solving problems and prefer
                familiar asset classes.
              </p>
            </div>
            <div class="col-4 ms-info">
              <p>Created at:</p>
              <p>MoneySign Email:</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo"
          aria-expanded="false"
          aria-controls="flush-collapseTwo"
        >
          Discovery Meet
        </button>
      </h2>
      <div
        id="flush-collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingTwo"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <div class="row">
            <div class=""></div>
            <div class="col-3 ms-image">
              <img
                src="https://a.storyblok.com/f/191576/1200x800/215e59568f/round_profil_picture_after_.webp"
                width="50px"
                height="auto"
                alt=""
              />
              <p>FC Keshav Tandon</p>
            </div>
            <div class="col-5 ms-body">
              <p>Meeting Details</p>
              <p><strong>Date:</strong> 11/09/2023</p>
              <p><strong>Time:</strong> 2:00PM</p>
              <p><strong>Duration:</strong> 00:30 Minutes</p>
            </div>
            <div class="col-4 ms-info">
              <p>Remarks</p>

              <input type="text" disabled />
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree"
            aria-expanded="false"
            aria-controls="flush-collapseThree"
          >
            FWP Meet
          </button>
        </h2>
        <div
          id="flush-collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <div class="row">
                <div class=""></div>
         <div class="col-3 ms-image">
            <img src="https://a.storyblok.com/f/191576/1200x800/215e59568f/round_profil_picture_after_.webp" width="50px" height="auto" alt="">
            <p>RIA Keshav Tandon</p>

        </div>
        <div class="col-5 ms-body">
            <p>Meeting Details</p>
        <p><strong>Date:</strong> 11/09/2023</p>
        <p><strong>Time:</strong> 2:00PM</p>
        <p><strong>Duration:</strong> 00:30 Minutes</p>


        </div>
        <div class="col-4 ms-info">
            <p>Payment Status:</p>
            <input type="checkbox" checked > Initiated
            <input type="checkbox"  disabled> Failed
            <input type="checkbox" disabled> Successful
            <br>
            <p>Remarks</p>
            <input type="text" disabled>


            

        
        
         </div>
    </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal -->
<div
  class="modal "
  id="myModal"
  aria-labelledby="exampleModalLabel"
  
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Personal Profile</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Name : Alia Bhatt <br />
        Email : qoq@gmail.com
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Close
        </button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
